@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffff0;
  color: #474747;
}

.sidenav {
  border-right: 1px solid #ccc;
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fffff0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #474747;
  display: block;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #474747;
  display: block;
}

.sidenav a:hover {
  color: #ffffff;
  background-color: #000000;
}

.new-list {
  padding-top: 900px;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.container {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

.nav {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0;
}

.nav h2 {
  font-size: 2rem;
  margin: 16px 8px;
}

.nav i {
  font-size: 16px;
  color: darkgray;
  margin: 0 8px;
}

.nav i:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.to-do-list-title {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 25%;
  margin: 8px 0;
}

.user-input {
  width: 450px;
  text-align: center;
}

.user-input input {
  width: 80%;
  outline: none;
  padding: 8px;
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user-input input:focus {
  box-shadow: 0 0 5px #4d4d4d;
  border: 1px solid #4d4d4d;
}

.user-input button {
  cursor: pointer;
  padding: 8px;
  width: fit-content;
  transition: 1s;
  outline: none;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-input button:hover {
  background-color: #ffbc49;
  border: 1px solid #ffbc49;
}

.to-do-items {
  width: 500px;
  margin: auto;
}

.item {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 2px;
  padding: 16px;
  color: #454545;
  margin-top: 16px;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  box-shadow: 0 0 5px #4d4d4d;
  border: 1px solid #4d4d4d;
}

.item i {
  cursor: pointer;
  margin: 0 5px;
}

.checked {
  text-decoration: line-through;
}

.clear-items button {
  cursor: pointer;
  padding: 8px;
  width: fit-content;
  transition: 1s;
  outline: none;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 16px 0;
}

.clear-items button:hover {
  background-color: #ffbc49;
  border: 1px solid #ffbc49;
}

@media (max-width: 768px) {
  .nav h2 {
    margin: 8px 0;
  }

  .user-input {
    width: 100%;
  }

  .to-do-items {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .user-input input {
    width: 74%;
  }
}

@media (max-width: 320px) {
  .user-input input {
    width: 60%;
  }
}
